#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#crossfade {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#crossfade img {
    display: block;
    max-width: 45%;
    border: 1px solid #ddd;
    border-radius: 50em;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.014);
    position: absolute;
    margin: auto;
    margin-top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#crossfade img.top:hover {
    opacity: 0;
}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 3s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.containerright {
    color: white;
    background-color: #1f1f1f;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-right: 10px;
    padding-right: 25px;
    padding-top: 1px;
    border: 2px solid #8d3636;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 50%;
    text-align: right;
    float: right;
}

.containerleft {
    color: white;
    background-color: #1f1f1f;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-left: 10px;
    padding-left: 25px;
    padding-top: 1px;
    border: 2px solid #224568;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 50%;
    text-align: left;
    float: left;
}

.helper-img {
    max-width: 20%;
    display: block;
}

.containerleft>.helper-img {
    float: left;
}

.containerright>.helper-img {
    float: right;
}

.containerbottom {
    color: white;
    background-color: #1f1f1f;
    border: 1px solid #ddd;
    border-radius: 20em;
    width: 50%;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 1825px;
    display: block;
    max-width: 45%;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.014);
    position: absolute;
    left: 0;
    right: 0;
}
