pre {
    outline: 1px solid #ccc;
    padding: 5px;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #1b1b1b;
    color: white;
    resize: vertical;
    overflow: auto;
    height: fit-content;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin-left: 5px;
    margin-right: 5px;
}

.highlight-string {
    color: #2bad2b;
}

.highlight-number {
    color: #2c2ab8;
}

.highlight-boolean {
    color: #b92b2b;
}

.highlight-null {
    color: #8f8f8f;
}

.highlight-key {
    color: white;
}

.highlight-object {
    color: white;
}

#jsonarea {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
}

