pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: #2bad2b;
}

.number {
    color: #2c2ab8;
}

.boolean {
    color: #b92b2b;
}

.null {
    color: #8f8f8f;
}

.key {
    color: white;
}

#jsonarea {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
}
